@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components{
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'epilogue';
  }
} */

@layer components{
 .harmburger-line{
    @apply bg-black w-4 h-[2px] absolute left-[50%] transition-all ease-out delay-150 translate-x-[-50%] rounded
  }
  .harmburger-line1{
    @apply bg-black h-[2px] absolute left-0 rotate-45 top-2 w-5
  }
  .harmburger-line2{
    @apply bg-black h-[2px] absolute left-0 -rotate-45 top-2 w-5
  }
  .middle-navs{
    @apply relative font-epilogue font-normal md:text-base lg:text-lg text-white after:transition-all after:delay-150 after:ease-out after:absolute after:bg-white after:-bottom-[3px] after:left-0  after:right-0 after:h-[3px] after:w-0 hover:after:w-full
  }
  .side-menu-navs{
    @apply  hover:bg-brand hover:text-white text-brand font-semibold p-2 transition-all delay-100 ease-out;
  }
  .satisfaction{
    @apply font-epilogue font-semibold w-[60%] text-lg md:text-2xl lg:text-5xl xl:text-7xl leading-6 text-black;
  }
  .about{
    @apply font-bold text-black text-sm md:text-xl lg:text-2xl xl:text-3xl mb-1;
  }
  .key-satisfaction{
    @apply font-normal text-[10px] md:text-sm lg:text-lg xl:text-xl;
  }
  .about-container{
    @apply font-epilogue mt-8 md:mt-14 xl:mt-16 mb-4 md:mb-6 xl:mb-9 max-w-7xl w-11/12 m-auto;
  }
  .pennsylvania{
    @apply font-medium w-1/2 text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl;
  }
  .address{
    @apply font-normal w-1/2 text-right text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl;
  }
  .questions{
    @apply font-semibold text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl;
  }
  .questions-contain{
    @apply flex justify-between py-1 sm:py-2 md:py-3;
  }
  .contact-input{
    @apply bg-transparent p-1 md:text-lg border-b-2 outline-none placeholder:text-white placeholder:font-semibold;
  }
  .get-name{
    @apply text-white font-medium text-base md:text-lg mb-1 md:mb-2;
  }
  .get-input{
    @apply bg-transparent rounded-sm border-[1px] p-[2px] pl-1 outline-none text-white placeholder:text-sm md:placeholder:text-base mb-3 md:mb-5;
  }
}